body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 30px;
}

.card {
    margin: 50px auto;
    padding: 30px;
    width: 300px;
    background-color: #1e293b;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    font-size: 20px;
}